@keyframes marquee {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%)
    }
}

.reveal-up {
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .7s var(--ease), transform .7s var(--ease)
}

.reveal-up.is-inview {
    opacity: 1;
    transform: translateY(0)
}

.reveal-up.delay-1 {
    transition-delay: .1s
}

.reveal-up.delay-2 {
    transition-delay: .2s
}

.reveal-fade {
    opacity: 0;
    transform: scale(.98);
    transition: opacity .7s var(--ease), transform .7s var(--ease)
}

.reveal-fade.is-inview {
    opacity: 1;
    transform: scale(1)
}

.reveal-fade.delay-1 {
    transition-delay: .12s
}

.reveal-fade.delay-2 {
    transition-delay: .24s
}