/* ajustes finos específicos da home */
.section-head {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 16px
}

.section-head .link-more {
    color: var(--muted);
    font-size: .95rem
}